<div class="form__wrapper--center form__wrapper--normal">
  <% content_for :title, t(:'重置密码') -%>

  <h1 class="title--level1"><%= content_for :title %></h1>
  <%= form_for @user, :url => { :action => 'update' } do |f| %>
    <%= f.error_messages %>
    <div class="form__row">
      <div class="form__label">
        <%= label_tag :password, t(:'新密码') %>
      </div>
      <div class="form__control">
        <%= f.password_field :password, { :class => 'text_input' } %>
      </div>
    </div>
    <div class="form__row">
      <div class="form__label">
        <%= label_tag :confirm_password, t(:'确认密码') %>
      </div>
      <div class="form__control">
        <%= f.password_field :password_confirmation, { :class => 'text_input' } %>
      </div>
    </div>
    <div class="form-btns clearfix">
      <button type="submit" class="button--light">发 送</button>
      <%= link_to '返 回', new_session_path, { :class => 'button--light default link-to-button' } %>
    </div>
  <% end %>
</div>
