<div class="form__wrapper--center form__wrapper--normal">
  <% content_for :title, t(:'重置密码') -%>

  <h1 class="title--level1"><%= content_for :title %></h1>
  <p>
    <%= render 'message' %>
  </p>
  <%= form_tag(reset_password_index_path) do %>
    <div class="form__row">
      <div class="form__label">
        <%= label_tag :email, t(:'电子邮箱') %>
      </div>
      <div class="form__control">
        <%= text_field_tag :email, nil, :class => 'text_input' %>
      </div>
    </div>
    <div class="form-btns clearfix">
      <button type="submit" class="button--light">发 送</button>
      <%= link_to '返 回', new_session_path, { :class => 'button--light default link-to-button' } %>
    </div>
  <% end %>
</div>
