<% content_for :title, @folder.name -%>

<h1 class="title--level1"><%= content_for :title %></h1>
<!-- 面包屑 导航 -->
<% unless @folder.is_root? -%>
<p>
  <%= breadcrumbs(@folder) %>
  <span class="breadcrumb nowrap"><%= @folder.name %></span>
</p>
<% end -%>
<!-- 面包屑 导航 end -->
<!-- folders 顶级工具栏 -->
<p class="folder_menu_wrapper">
<% if current_user.can_create(@folder) -%>
  <span class="folder_menu"><%= image_tag('folder_add.png', :alt => t(:create_a_new_folder)) %> <%= link_to t(:新建文件夹), new_folder_folder_path(@folder) %></span>
  <span class="folder_menu"><%= image_tag('file_add.png', :alt => t(:upload_a_file)) %> <%= link_to t(:上传文件), new_folder_file_path(@folder) %></span>
<% end -%>
<% if current_user.member_of_admins? -%>
  <span class="folder_menu" id="permissions_link"><span><%= image_tag('permissions.png', :alt => t(:permissions)) %> <%= link_to t(:许可证), '#', :class => 'permissions_link' %></span></span>
<% end -%>
  <span class="folder_menu" id="clipboard_link"><span><%= image_tag('clipboard.png', :alt => t(:clipboard)) %> <%= link_to t(:剪贴板), '#', :class => 'clipboard_link' %></span></span>
</p>
<!-- folders 顶级工具栏 end -->

<div id="files_and_folders" class="table--stripes">
  <table style="width:100%;">
    <tr>
      <th></th>
      <th><%= t :名称 %></th>
      <th><%= t :大小 %></th>
      <th><%= t :修改日期 %></th>
      <th><%= t :操作 %></th>
    </tr>
  <% unless @folder.is_root? -%>
    <tr class="<%= cycle('even','odd') %>">
      <td><%= image_tag('folder.png') %></td>
      <td class="file_name">&uarr; <%= link_to t(:up), @folder.parent, :title => @folder.parent.name %></td>
      <td class="file_size">--</td>
      <td class="file_modified">--</td>
      <td></td>
    </tr>
  <% end -%>
  <% @folder.children.each do |folder| -%>
    <% if current_user.can_read(folder) -%>
    <tr class="<%= cycle('even','odd') %>">
      <td><%= image_tag('folder.png') %></td>
      <td class="file_name"><%= link_to folder.name, folder %></td>
      <td class="file_size">--</td>
      <td class="file_modified"><%= l folder.updated_at, :format => :short %></td>
      <td>
      <% if current_user.can_update(folder) -%>
        <%= link_to image_tag('edit.png', :alt => t(:edit)), edit_folder_path(folder), :title => t(:edit) %>&nbsp;
      <% end -%>
      <% if current_user.can_delete(folder) -%>
        <%= link_to image_tag('delete.png', :alt => t(:delete_item)), folder, :method => :delete, :data => { :confirm => t(:are_you_sure) }, :title => t(:delete_item) %>&nbsp;
      <% end -%>
        <%= link_to image_tag('clipboard_add.png', :alt => t(:add_to_clipboard)),
          { :controller => :clipboard, :action => :create, :id => folder.id, :type => 'folder', :folder_id => @folder, :authenticity_token => form_authenticity_token },
          :method => :post, :title => t(:add_to_clipboard)
        %>
      </td>
    </tr>
    <% end -%>
  <% end -%>
  <% @folder.user_files.each do |file| -%>
    <% if current_user.can_read(@folder) -%>
    <tr class="<%= cycle('even','odd') %>">
      <td><%= image_tag(file_icon(file.extension)) %></td>
      <td class="file_name">
        <%if file.is_image? || file.is_document?%>
          <div style="width:250px;font-size:0.8em;color:#444;">
            <%if file.is_image?%>
              <img src="<%=file_path(file)%>" alt="" style="border:1px solid #aaa;border-radius:2px; max-width:100px; max-height:100px;">
              <br><%=file.attachment_file_name%>
            <%else%>
              <%= link_to file.attachment_file_name, file_path(file), :title => "#{t(:download)} #{file.attachment_file_name}" %>
            <%end%>
            <br>
            <a target="_blank" href="<%=file_preview_path(file)%>">Preview</a>
            <a href="<%=file_path(file)%>">Download</a>
          </div>
        <%elsif (file.is_url? || file.is_text?)%>
          <a target="_blank" href="<%=file_preview_path(file)%>"><%=file.attachment_file_name%></a>
        <%else%>
          <%= link_to file.attachment_file_name, file_path(file), :title => "#{t(:download)} #{file.attachment_file_name}" %>
        <%end%>
      </td>
      <td class="file_size"><%= number_to_human_size(file.attachment_file_size, :locale => I18n.locale) %></td>
      <td class="file_modified"><%= l file.updated_at, :format => :short %></td>
      <td>
      <% if current_user.can_update(file.folder) -%>
        <%= link_to image_tag('edit.png', :alt => t(:edit)), edit_file_path(file), :title => t(:edit) %>&nbsp;
      <% end -%>
      <% if current_user.can_delete(file.folder) -%>
        <%= link_to image_tag('delete.png', :alt => t(:delete_item)), file_path(file), :method => :delete, :data => { :confirm => t(:are_you_sure) }, :title => t(:delete_item) %>&nbsp;
      <% end -%>
        <%= link_to image_tag('clipboard_add.png', :alt => t(:add_to_clipboard)),
          { :controller => :clipboard, :action => :create, :id => file.id, :type => 'file', :folder_id => @folder, :authenticity_token => form_authenticity_token },
          :method => :post, :title => t(:add_to_clipboard)
        %>&nbsp;
        <%= link_to image_tag('share.png', :alt => t(:share)), new_file_share_link_path(file), :title => t(:share) %>
      </td>
    </tr>
    <% end -%>
  <% end -%>
  </table>
</div>
<% if current_user.member_of_admins? -%>
<div id="permissions" style="display:none;">
  <%= render 'permissions/form' %>
</div>
<% end -%>
<div id="clipboard" style="display:none;">
  <%= render 'clipboard/show' %>
</div>
