<div id="menu">
  <p class="menu">
    <%= link_to "Home", '/home' %>
    <%= link_to "Git", 'https://git-scm.com/book/zh/v2' %>
    <%= link_to "Ruby on Rails", 'http://guides.rubyonrails.org/' %>
    <%= link_to "AngularJS", 'https://docs.angularjs.org/api' %>
    <%= link_to "React", 'http://reactjs.cn/react/docs/getting-started.html' %>
    <%= link_to "Vue.js", 'http://cn.vuejs.org/guide/reactivity.html' %>
    <%= link_to "MySQL", 'https://dev.mysql.com/doc/' %>
    <%= link_to "PostgreSQL", 'http://www.postgresql.org/docs/9.4/interactive/index.html' %>
  </p>
</div>
