<div class="menu--root">
    <div class="menu__row--root">
        <div class="menu__item--root">
            <div class="menu__icon--root">
                <%= link_to image_tag('root_icon_1.png', :alt => 'Products'), "http://code.cdavatar.com:8081/" %>
                <div class="menu__light--root"></div>
            </div>
            <div class="menu__name--root">
                产品设计文档
            </div>
        </div>
        <div class="row__sep--root"></div>

        <div class="menu__item--root">
            <div class="menu__icon--root">
                <%= link_to image_tag('root_icon_2.png', :alt => 'Repos'), "http://code.cdavatar.com:8080/" %>
                <div class="menu__light--root"></div>
            </div>
            <div class="menu__name--root">
                代码仓库
            </div>
        </div>
        <div class="row__sep--root"></div>

        <div class="menu__item--root">
            <div class="menu__icon--root">
                <%= link_to image_tag('root_icon_5.png', :alt => 'exmail'), "http://exmail.qq.com/cgi-bin/frame_html" %>
                <div class="menu__light--root"></div>
            </div>
            <div class="menu__name--root">
                邮箱
            </div>
        </div>
        <div class="row__sep--root"></div>

        <div class="menu__item--root">
            <div class="menu__icon--root">
                <%= link_to image_tag('root_icon_3.png', :alt => 'Dinners'), "https://docs.google.com/spreadsheets/d/1SEnuCZF-QvlfJkNcd4i8nGu7THdCp_Ovav-vvq6YBQk/edit?usp=sharing" %>
                <div class="menu__light--root"></div>
            </div>
            <div class="menu__name--root">
                餐补
            </div>
        </div>

        <% if signed_in? -%>

        <% end -%>
    </div>

    <div class="menu__row--root">
        <% if signed_in? -%>
            <div class="menu__item--root">
                <div class="menu__icon--root">
                    <%= link_to image_tag('root_icon_4.png', :alt => 'folders'), folders_path %>
                    <div class="menu__light--root"></div>
                </div>
                <div class="menu__name--root">
                    文件
                </div>
            </div>
            <div class="row__sep--root"></div>

            <div class="menu__item--root">
                <div class="menu__icon--root">
                    <%= link_to image_tag('root_icon_6.png', :alt => 'Dinners'), "http://code.cdavatar.com:8083/folders/136" %>
                    <div class="menu__light--root"></div>
                </div>
                <div class="menu__name--root">
                    工作总结
                </div>
            </div>
            <div class="row__sep--root"></div>

            <div class="menu__item--root">
                <div class="menu__icon--root">
                    <%= link_to image_tag('root_icon_8.png', :alt => 'waiting'), "http://code.cdavatar.com:8083/folders/21" %>
                    <div class="menu__light--root"></div>
                </div>
                <div class="menu__name--root">
                    电子书
                </div>
            </div>
            <div class="row__sep--root"></div>

            <div class="menu__item--root">
                <div class="menu__icon--root">
                    <%= link_to image_tag('root_icon_7.png', :alt => 'waiting'), "http://code.cdavatar.com:8083/folders/3" %>
                    <div class="menu__light--root"></div>
                </div>
                <div class="menu__name--root">
                    分享会议存档
                </div>
            </div>
        <% end -%>

    </div>

    <div class="menu__row--root">
        <% if signed_in? -%>
            <% if current_user.member_of_admins? -%>
                <div class="menu__item--root">
                    <div class="menu__icon--root">
                        <%= link_to image_tag('root_icon_9.png', :alt => 'users'), users_path %>
                        <div class="menu__light--root"></div>
                    </div>
                    <div class="menu__name--root">
                        用户
                    </div>
                </div>
                <div class="row__sep--root"></div>

                <div class="menu__item--root">
                    <div class="menu__icon--root">
                        <%= link_to image_tag('root_icon_9.png', :alt => 'groups'), groups_path %>
                        <div class="menu__light--root"></div>
                    </div>
                    <div class="menu__name--root">
                        分组
                    </div>
                </div>
                <div class="row__sep--root"></div>

                <div class="menu__item--root">
                    <div class="menu__icon--root">
                        <%= link_to image_tag('root_icon_9.png', :alt => 'share_links'), share_links_path %>
                        <div class="menu__light--root"></div>
                    </div>
                    <div class="menu__name--root">
                        分享链接
                    </div>
                </div>
                <div class="row__sep--root"></div>
            <% end -%>
        <% end -%>

        <div class="menu__item--root hidden">
            <div class="menu__icon--root">
                <%= link_to image_tag('root_icon_9.png', :alt => 'waiting'), "" %>
                <div class="menu__light--root"></div>
            </div>
            <div class="menu__name--root">
                待定
            </div>
        </div>

    </div>
</div>
