<% content_for :title, '更改文件名' -%>

<div class="form__wrapper--center form__wrapper--normal">
    <h1 class="title--level1"><%= content_for :title %></h1>
    <%= form_for @file, :url => { :action => 'update' } do |f| %>
      <%= f.error_messages %>
      <div class="form__row">
        <div class="form__label">
            <%= f.label :attachment_file_name, t(:'文件名') %>
        </div>
        <div class="form__control">
            <%= f.text_field :attachment_file_name, { :class => 'text_input' } %>
        </div>
      </div>
      <div class="form-btns clearfix">
        <button type="submit" class="button--light">保 存</button>
        <%= link_to '返 回', @folder, { :class => 'button--light default link-to-button' } %>
      </div>
    <% end %>
</div>
